@model List<PurchaseOrder> 

@{
    ViewData["Title"] = "viewOrder";
}



<h2>Purchase Order</h2>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <h3><b>View - Purchase Detail</b></h3> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="PurchaseOrder" asp-action="Index">Index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="PurchaseOrder" asp-action="createOrder">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="PurchaseOrder" asp-action="readOrder">Read</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="PurchaseOrder" asp-action="updateOrder">Update</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="PurchaseOrder" asp-action="deleteOrder">Delete</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br />
<div>
    <table>
        <thead>
            <tr>
                <th class="fixed-column">Purchase Id</th>
                <th>Purchase FromLocation</th>
                <th >Purchase ToLocation</th>
                <th>Purchase Date</th>
                <th>Shipment Cost</th>
                <th>Total Amount</th>
                <th>Order Id</th>
            </tr>
        </thead>
        
        @foreach (var orders in Model)
        {
            <tbody>
            <tr>
                    <td name="PurchaseId">@Html.DisplayFor(modelItem => orders.PurchaseId)</td>
                    <td name="PurchaseFromLocation"> @Html.DisplayFor(modelItem => orders.PurchaseFromLocation) </td>
                    <td name="PurchaseToLocation"> @Html.DisplayFor(modelItem => orders.PurchaseToLocation) </td>
                    <td name="PurchaseDate"> @Html.DisplayFor(modelItem => orders.PurchaseDate) </td>
                    <td name="ShipmentCost"> @Html.DisplayFor(modelItem => orders.ShipmentCost) </td>
                    <td name="TotalAmount"> @Html.DisplayFor(modelItem => orders.TotalAmount) </td>
                    <td name="OrderId"> @Html.DisplayFor(modelItem => orders.OrderId) </td>
            </tr>
            </tbody>
        }
    </table>
</div>
